.tc_WelcomeBtn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.tc_WelcomeBtn_default {
  background-color: #110091 !important;
  color: lightgray !important;
}

.tc_WelcomeBtn_outlined {
  border-color: #110091 !important;
  color: #110091 !important;
}
