.tc_Tac .MuiContainer-root {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tc_Tac_paragraph .tc_Tac_subparagraph {
  margin-bottom: 1.5rem;
}

.tc_Tac table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tc_Tac th, td {
  padding:10px;
}

.tc_Tac table.full-width {
  width: 100%;
}