html, body {
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto 0 auto;
}

ul li {
  list-style-position: outside;
  margin-left: 1em;
}

h1, h2, h3 {
  color: $color-theme-blue;
}