.tc_WelcomePaper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.tc_WelcomePaper_title {
  color: $color-theme-blue;
  font-size: $font-size-29;
  font-weight: 600;
  letter-spacing: $font-letter-spacing;
  margin-bottom: 22px;
  line-height: normal;
}

.tc_WelcomePaper_content {
  color: $color-text-darkgrey;
  font-size: $font-size-15;
  letter-spacing: $font-letter-spacing-16;
  line-height: $font-line-height-36;
}
