.tc_WelcomeBtn {
  margin-top: 70px;
}

.tc_WelcomeBtn_default {
  background-color: $color-theme-blue !important;
  color: $color-text-lightgrey !important;
  font-weight: 600 !important;
  width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.tc_WelcomeBtn_outlined {
  border-color: $color-theme-blue !important;
  color: $color-theme-blue !important;
  font-weight: 600 !important;
  width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center;
}
