.tc_TestYourEmail_input {
  width: 450px;
}

.tc_TestYourEmail_email_valid {
  color: green !important;
}

.tc_TestYourEmail_email_invalid {
  color: red !important;
}

.tc_TestYourEmail_email_undefined {
  color: lightgrey !important;
}

.tc_TestYourEmail_email_text {
  margin-top: 20px;
}
