.tc_FaqComponent {
  padding-bottom: 50px;
}

.tc_FaqComponent {
  li {
    margin-bottom: 8px;
    margin-left: -10px;
    list-style-position: outside;
  }
}

.tc_FaqComponent_section {
  font-weight: bold;
  font-size: $font-size-15;
  margin-bottom: 20px;
  margin-top: 40px;
}

.tc_FaqComponent_subtitle {
  font-size: $font-size-11;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 8px;
}

.tc_FaqComponent_seemore {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 20px;
}

.tc_FaqComponent_List_decimal {
  list-style-type: decimal;
}
