.tc_horizontal_margin_between_imgs {
  width: 20px;
}

.tc_vertical_margin {
  margin-top: 22px;
}

@media (max-width: 650px) {
  .tc_FaqPasswordReset_wimg_fullScreen_mobile,
  .tc_FaqPasswordReset_limg_fullScreen_mobile {
    width: 400px;
  }
  .tc_FaqPasswordReset_wimg_halfScreen_mobile,
  .tc_FaqPasswordReset_limg_halfScreen_mobile {
    width: 200px;
  }
}

@media (max-width: 550px) {
  .tc_FaqPasswordReset_wimg_fullScreen_mobile,
  .tc_FaqPasswordReset_himg_fullScreen_mobile,
  .tc_FaqPasswordReset_limg_fullScreen_mobile {
    width: 300px;
  }
  .tc_FaqPasswordReset_wimg_halfScreen_mobile,
  .tc_FaqPasswordReset_himg_halfScreen_mobile,
  .tc_FaqPasswordReset_limg_halfScreen_mobile {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .tc_FaqPasswordReset_wimg_fullScreen_mobile,
  .tc_FaqPasswordReset_himg_fullScreen_mobile,
  .tc_FaqPasswordReset_limg_fullScreen_mobile {
    width: 200px;
  }
  .tc_FaqPasswordReset_wimg_halfScreen_mobile,
  .tc_FaqPasswordReset_himg_halfScreen_mobile,
  .tc_FaqPasswordReset_limg_halfScreen_mobile {
    width: 100px;
  }
}