.tc_BottomBar {
  display: flex;
}

.tc_BottomBar_container {
  margin-top: 50px;
  border-top: 3px solid $color-theme-blue;
  padding-top: 30px;
  padding-bottom: 10px;
}

.tc_BottomBar_text {
  font-size: $font-size-10;
  letter-spacing: $font-letter-spacing;
  line-height: 25px;
  margin-top: 22px !important;
}

.tc_BottomBar_text a {
  color: $color-text-darkgrey;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-text-darkgrey;
  }
}

.tc_BottomBar_Menu_container {
  border-top: 1px solid $color-border-grey;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  align-items: baseline;
}

.tc_BottomBar_Menu_item {
  color: $color-text-darkgrey !important;
  text-decoration: none !important;
  margin-left: 20px !important;
  padding-right: 20px !important;
  border-right: 2px solid $color-border-grey;
  font-size: $font-size-08;
  margin-bottom: 15px;
}

.tc_BottomBar_Menu_logo {
  position: relative;
  top: 4px;
  font-size: $font-size-11 !important;
  margin-right: 5px;
  overflow: visible
}
