.fr-callout {
    padding: 1.5rem 1rem;

    p.fr-badge.fr-badge--sm {
      margin-bottom: 4px;
      background-color: #6f62442b;
    }
}
.fr-callout__title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 4px;
}
.fr-callout__text {
    font-size: 0.9rem;
    line-height: 1.4em;
    margin-bottom: 0.5rem;
}

