.tc_TopBar {
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.tc_TopBar-Left {
  display: flex;
  align-items: center;
}

.tc_TopBar-Left_name {
  font-weight: 600;
  font-size: 1.8em;
  margin-left: 30px;
}

.tc_TopBar-Right {
  display: flex;
  align-items: center;
}

.tc_TopBar-Right a,
.tc_TopBar-Right a:link,
.tc_TopBar-Right a:visited {
  font-size: 17px;
  color: #110091;
  margin-left: 50px;
  text-decoration: none;
}

.tc_TopBar-Right a:hover,
.tc_TopBar-Right a:active {
  text-decoration: underline;
}
