.tc_HalfCard {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 70px 50px 70px;
}

.tc_HalfCard_light {
  background-color: $color-bg-lightgrey;
}

.tc_HalfCard_dark {
  background-color: $color-bg-darkgrey;
}

.tc_HalfCard_title {
  color: $color-theme-blue;
  font-size: $font-size-19;
  font-weight: 600;
  letter-spacing: $font-letter-spacing;
  line-height: normal;
  margin: 50px auto 20px auto;
}

.tc_HalfCard_content {
  color: $color-text-darkgrey;
  font-size: $font-size-12;
  line-height: $font-line-height;
  letter-spacing: $font-letter-spacing-08;
  text-align: left;
}

.tc_HalfCard_text_container {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-end;
}


.tc_HalfCard_image_container {
  height: 150px;
  align-items: center;
  display: flex;
}

.tc_HalfCard_image_top {
  flex-direction: column;
}

.tc_HalfCard_image_bottom {
  flex-direction: column-reverse;
}
