.tc_LargeCard {
  display: flex;
  padding-top: 30px;
}

.tc_LargeCard_main {
  text-align: center;
  min-height: 400px;
}

.tc_LargeCard_light {
  background-color: $color-bg-lightgrey;
}

.tc_LargeCard_dark {
  background-color: $color-bg-darkgrey;
}

.tc_LargeCard_image {
  padding: 0 !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tc_LargeCard_image_container_left {
  flex-direction: row !important;
}

.tc_LargeCard_image_container_right {
  flex-direction: row-reverse !important;
}

.tc_LargeCard_text_left {
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.tc_LargeCard_text_right {
  padding-left: 40px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.tc_LargeCard_title {
  color: $color-theme-blue;
  font-size: $font-size-19;
  font-weight: 600;
  letter-spacing: $font-letter-spacing;
  line-height: normal;
  margin: 50px auto 20px auto;
}

.tc_LargeCard_content {
  color: $color-text-darkgrey;
  font-size: $font-size-12;
  line-height: $font-line-height;
  letter-spacing: $font-letter-spacing-08;
  text-align: left;
}

@media (max-width: 960px) {
  .tc_LargeCard_image_container_left,
  .tc_LargeCard_image_container_right {
    flex-direction: column-reverse;
  }
}

@media (max-width: 430px) {
  .tc_LargeCard_text_left,
  .tc_LargeCard_text_right {
    padding-left: 15px;
  }
  .tc_LargeCard_title {
    text-align: left;
  }
}
