@import '~@gouvfr/dsfr/dist/dsfr/dsfr.css';

/* Colors */
$color-theme-blue: #110091;
$color-border-grey: #e6e6e6;
$color-text-darkgrey: #3d3d3d;
$color-text-lightgrey: #d3d3d3;
$color-text-white: #f9f9f9;
$color-text-black: #000000;
$color-bg-lightgrey: #f8f8f8;
$color-bg-mediumgrey: #f2f2f9;
$color-bg-darkgrey: #efefef;

/* Fonts */
$font-letter-spacing: 1px;
$font-letter-spacing-16: 1.6px;
$font-letter-spacing-10: 0.08em;
$font-letter-spacing-08: 0.8px;
$font-line-height: 30px;
$font-line-height-20: 20px;
$font-line-height-24: 24px;
$font-line-height-26: 26px;
$font-line-height-36: 36px;
$font-size-29: 2.9em;
$font-size-25: 2.5em;
$font-size-20: 2em;
$font-size-19: 1.9em;
$font-size-18: 1.8em;
$font-size-15: 1.5em;
$font-size-14: 1.4em;
$font-size-12: 1.15em;
$font-size-11: 1.1em;
$font-size-10: 1em;
$font-size-08: 0.8em;

/* Generic classes */
.tc_text_b {
  font-weight: bold !important;
}

.tc_text_i {
  font-style: italic !important;
}

.tc_text_u {
  text-decoration: underline !important;
}

.tc_text_right {
  text-align: right !important;
}

.tc_list_nobullet {
  list-style-type: none;
  margin-left: 20px;
}

.tc_list_decimal {
  list-style-type: decimal;
}

.tc_list_alpha {
  list-style-type: lower-alpha;
}

.tc_text_nl {
  margin-bottom: 6px;
  padding-right: 6px;
}

.tc_link {
  text-decoration: none !important;
  font-weight: bold !important;
  color: #3d3d3d !important;
  &:hover {
    text-decoration: underline !important;
    color: #000000 !important;
  }
}
.simple_container {
    margin: 0 !important;
    padding: 0 !important;
}

.tc_paragraph .tc_subparagraph {
  margin-bottom: 1.5rem;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding:10px;
}

table.full-width {
  width: 100%;
}
