.tc_ComparePanel {
  margin-top: 100px !important;  
  margin-bottom: 140px !important;
}

.tc_ComparePanel_title {
  color: $color-theme-blue;
  font-size: $font-size-29;
  font-weight: 600;
  letter-spacing: $font-letter-spacing;
  line-height: normal;
  text-align: center;
  margin: 50px auto 50px auto;
}


.tc_ComparePanel_compare {
  margin: 0 !important;
}

.tc_ComparePanel_compare img {
  width: 100%;
  margin: 0;
}



