.tc_JoinUsPanel {
  margin-top: 30px !important;
}

.tc_JoinUsPanel_title {
  color: $color-theme-blue;
  font-size: $font-size-29;
  font-weight: 600;
  letter-spacing: $font-letter-spacing;
  line-height: normal;
  text-align: center;
  margin: 50px auto 50px auto;
}

.tc_JoinUsPanel_btn_container {
  margin-top: 70px !important;
  display: flex;
  justify-content: center;
}

.tc_JoinUsPanel_btn {
  background-color: $color-theme-blue !important;
  color: $color-text-lightgrey !important;
  font-weight: 600 !important;
  padding: 15px 30px 15px 30px;
}

.tc_JoinUsPanel_joinus {
  color: #3d3d3d;
  font-size: $font-size-12;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height-36;
  text-align: center;
  margin: 50px auto 50px auto !important;
}

.tc_JoinUsPanel_joinus_content {
  margin-bottom: 20px;
}

.tc_JoinUsPanel_content {
  font-size: $font-size-12;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height;
  text-align: center;
}

.tc_JoinUsPanel_content a,
.tc_JoinUsPanel_content a:link,
.tc_JoinUsPanel_content a:visited,
.tc_JoinUsPanel_content a:hover,
.tc_JoinUsPanel_content a:active {
  text-decoration: underline;
  color: #3d3d3d;
}
