.tc_TestYourEmail_label {
  color: #3d3d3d;
  font-size: $font-size-10;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height-36;
  margin-bottom: 20px;
}

.tc_TestYourEmail_input {
  min-width: 450px;
  margin-right: 20px;
}

@media (max-width: 960px) {
  .tc_TestYourEmail_input {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .tc_TestYourEmail_input {
    margin-bottom: 20px;
  }
  .tc_TestYourEmail_email_text {
    text-align: left;
  }
}

.tc_TestYourEmail_btn {
  line-height: 1.6 !important;
}

.tc_TestYourEmail_link {
  text-decoration: underline;
  cursor: pointer;
  color: $color-text-darkgrey;
}

.tc_TestYourEmail_invalid_list {
  list-style: decimal inside;
}

.tc_TestYourEmail_email_text {
  margin-top: 20px;
}

.tc_TestYourEmail_icon_valid {
  color: green;
}

.tc_TestYourEmail_icon_invalid {
  color: red;
}
