.tc_Pem_topbar {
  border-top: 3px solid $color-theme-blue;
  padding-top: 30px;
  padding-bottom: 10px;
  color: $color-text-darkgrey;
}

.tc_Pem_Container {
  padding-bottom: 50px;
  li {
    list-style-position: inside;
    margin-left: 10px;
  }
}

.tc_Pem_link {
  text-decoration: underline;
  font-weight: normal;
  color: #3d3d3d;
  &:hover {
    text-decoration: underline;
    color: #000000;
  }
}

.tc_Pem_Menu {
  list-style-type: decimal;
  margin-bottom: 100px;
  list-style-position: inside;
}

.tc_Pem_Poper {
  color: white;
  background-color: $color-text-darkgrey;
  padding: 8px;
  border-radius: 3px;
}

.tc_Pem_Menu_item {
  font-size: $font-size-10;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height;
  font-weight: normal;
  text-decoration: underline;
  color: $color-text-darkgrey;
  &:hover {
    text-decoration: underline;
    color: $color-text-black;
  }
}

.tc_Pem_Intro_title {
  color: $color-theme-blue;
  font-size: $font-size-25;
  letter-spacing: 0.08em;
  line-height: $font-line-height;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}

.tc_Pem_Intro_subtitle {
  font-size: $font-size-10;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height;
  margin-bottom: 10px;
}

.tc_Pem_Content_title {
  color: $color-theme-blue;
  font-size: $font-size-18;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height;
  font-weight: bold;
  margin: 80px 0 30px 8px;
}

.tc_Pem_Content_title_icon {
  color: $color-text-lightgrey;
  cursor: pointer;
  top: 4px;
  margin-left: -35px;
  position: relative;
  &:hover {
    color: $color-text-darkgrey;
  }
}

.tc_Pem_Content_subtitle {
  font-size: $font-size-14;
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 28px;
}

.tc_Pem_Content_subsubtitle {
  letter-spacing: $font-letter-spacing-08;
  font-weight: bold;
}

.tc_Pem_Content_text {
  letter-spacing: $font-letter-spacing-08;
  line-height: $font-line-height;
}

.tc_Pem_Content_withAvatar {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  img {
    width: 70px;
    margin-right: 50px;
  }

}

.tc_Pem_Content_withImage_double {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .tc_Pem_Content_withImage_double {
    flex-direction: column;
  }
}

.tc_Pem_Content_withImage {
  display: flex;
  flex-flow: wrap-reverse;
}
